################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/LgProgramaDeEstagio2020/obj/Release/LgProgramaDeEstagio2020.csproj.CoreCompileInputs.cache
/LgProgramaDeEstagio2020/obj/Debug/LgProgramaDeEstagio2020.csproj.CoreCompileInputs.cache
